:root{
    --cor-borda: #4d4d4d;
    --cor-luz: #ccffdc;
    --cor-letra: #e6e6e6;
    --cor-botao: #1a1a1a;
}

.botao{
    width: 10rem;    
    margin-left: .2rem;

    border: solid 1px var(--cor-borda);
    border-radius: 6px;
    box-shadow: 2px 2px 7px var(--cor-luz);

    background-color: var(--cor-borda);
    margin: 1rem 0;

    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-letra); 
}

.calcular{
    width: 5rem;
}