:root{
    --cor-borda: #4d4d4d;
    --cor-luz: #ccffdc;
    --cor-letra: #e6e6e6;
    --cor-botao: #1a1a1a;
}

.container__moeda{
    border-top: 1px solid var(--cor-borda);
    border-bottom: 1px solid var(--cor-borda);
}