:root{
    --cor-borda: #4d4d4d;
    --cor-luz: #ccffdc;
    --cor-letra: #e6e6e6;
    --cor-botao: #1a1a1a;
}

body{
    height: 100vh;

    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
    color: var(--cor-letra);
}

.corpo__black{
    background: #1a1a1a;
}

.corpo__white{
    background: #f2f2f2;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

@media (min-width:800px) and (max-width:1440px) {
    .container__conversor{
        width: 40%;
    }

    .titulo__rodape{
        font-size: 2rem;
    }
}

@media (min-width:920px) and (max-width:1440px){
    .container__moeda{
        display: flex;
        justify-content: center;
        width: 90%; 
        align-items: center;
    }

    .botao__selec{
        width: 15rem;
    }
}